Repository Guts/elgeopaso, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, quality, tooling

setup: définit Python 3.10 comme version minimum
  .deploy/apache/README.md
  .deploy/apache/elgeopaso-ssl.conf
  .deploy/docker/django/Dockerfile-dev.dockerfile
  .deploy/git-hooks/post-receive.sh
  README.md
  assets/jobs/css/sb-admin-2.css
  docs/deployment/apache.md
  docs/deployment/production.md
  docs/development/environment.md
  elgeopaso/jobs/crawlers/georezo_rss_parser.py
  elgeopaso/templates/base.html
  runtime.txt
Labels: documentation

pg: utilise la version 15
  .deploy/docker/postgres/Dockerfile
Labels: none

dépendances: MAJ lxml
  requirements/base.txt
Labels: dependencies

packaging: passe sur Debian Bookworm
  .deploy/docker/django/Dockerfile-dev.dockerfile
Labels: none

docs: docker compose remplace docker-compose
  docs/development/environment.md
Labels: documentation

dépendances: définit pillow>10
  requirements/base.txt
Labels: dependencies

Create FUNDING.yml
  .github/FUNDING.yml
Labels: ci-cd

tooling: supprime la config mustache
  .vscode/docstring-config.mustache
  .vscode/settings.json
Labels: tooling

Use load static instead of deprecated tags
  elgeopaso/cms/templates/cms/about.html
  elgeopaso/templates/admin/base_site.html
  elgeopaso/templates/jobs/search.html
  elgeopaso/templates/jobs/timeline.html
Labels: none

dépendances: définit django>=3.2 (LTS)
  requirements/base.txt
Labels: dependencies

Remove render_to_response
  elgeopaso/cms/views.py
Labels: none

docs: MAJ les dépendances
  requirements/documentation.txt
Labels: dependencies

Bump django to > 3.1
  requirements/base.txt
Labels: dependencies

fix(tooling): remove encoding pragma hook
  .pre-commit-config.yaml
Labels: none

Set log level to error for console
  elgeopaso/settings/production.py
Labels: none

EXPOSE port 8000 for traefik
  Dockerfile
Labels: none

First start to migration
  requirements/base.txt
  requirements/local.txt
Labels: dependencies

Fix issue on missing DATABASE_URL
  elgeopaso/settings/production.py
Labels: none

Fix Dockerfile for GeoRezo
  Dockerfile
Labels: none

Fix issue on bootstrap version
  elgeopaso/templates/base.html
Labels: none

Fix requirements and env for prod
  Dockerfile
  elgeopaso/settings/production.py
Labels: none

Migrate to django 4.2
  .deploy/docker/django/Dockerfile-dev.dockerfile
  elgeopaso/accounts/apps.py
  elgeopaso/accounts/migrations/0002_alter_subscription_id.py
  elgeopaso/api/apps.py
  elgeopaso/api/urls.py
  elgeopaso/cms/apps.py
  elgeopaso/cms/migrations/0005_alter_article_id_alter_category_id.py
  elgeopaso/cms/templates/cms/about.html
  elgeopaso/cms/urls.py
  elgeopaso/cms/views.py
  elgeopaso/elgeopaso/__init__.py
  elgeopaso/jobs/apps.py
  elgeopaso/jobs/migrations/0004_alter_contractvariations_id_and_more.py
  elgeopaso/settings/base.py
  elgeopaso/templates/admin/base_site.html
  elgeopaso/templates/jobs/search.html
  elgeopaso/templates/jobs/timeline.html
  elgeopaso/wsgi.py
  manage.py
  requirements/base.txt
  requirements/documentation.txt
  requirements/local.txt
Labels: dependencies

Make api works again
  elgeopaso/api/serializers.py
  elgeopaso/api/urls.py
  elgeopaso/settings/base.py
Labels: none

Fix issues with CMS
  elgeopaso/cms/models.py
  elgeopaso/cms/views.py
Labels: none

Remove ckeditor_uploader
  elgeopaso/settings/base.py
Labels: none

Migrate to django 5.x
  requirements/base.txt
  requirements/local.txt
Labels: dependencies

Migrate to ckeditro 5
  elgeopaso/settings/base.py
  elgeopaso/urls.py
  requirements/base.txt
Labels: dependencies

Fix missing ckeditor_uploader
  elgeopaso/settings/base.py
Labels: none

Upgrade lib to last version
  requirements/base.txt
  requirements/local.txt
  setup.cfg
Labels: dependencies, tooling

Fix test with ckeditor5
  elgeopaso/cms/migrations/0001_cms.py
  elgeopaso/cms/migrations/0002_auto_20180308_1417.py
Labels: none

No functionnal change
  Dockerfile
Labels: none

Cleanup of ckeditor_uploader
  elgeopaso/settings/.base.py.swp
  elgeopaso/settings/base.py
Labels: none

Upgrade production requirements
  requirements/production.txt
Labels: dependencies

Last lib upgrade
  requirements/base.txt
Labels: dependencies

Fix loader in production
  elgeopaso/settings/production.py
Labels: none

clean up swap fdile
  elgeopaso/settings/.base.py.swp
Labels: none

Fix cms migration script
  elgeopaso/cms/migrations/0003_auto_20180308_1427.py
Labels: none

debug toolbar is load automaticly in debug mode
  elgeopaso/settings/base.py
Labels: none

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

quality:
  - tests/**/*

tooling:
  - setup.cfg
  - .vscode/**/*
